@charset "utf-8";


body{
    background-color: aqua;
}

.content{
    margin: 10px 0 10px 0;
    display: flex;
}
.image{
    width: 25%;
    height: 200px;
    /* background-color: #eee; */
    text-align: center;
    margin: 20px;
}
.img{
    width: 100%; /* ADD */
    height:100%; /* ADD */
    object-fit: scale-down;
  }

